%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
 %head
  %title Myblog
  %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
  %body
   = link_to('Signout', {:action => 'new'})
   #blogs_board
    - @basic_stuff.map do |k,v|
     %strong= k
     #posts
      - v.map do |posts|
       = link_to(posts, {:action => '##'})